* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: absolute;
}

html {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  position: relative;
}

p {
  display: inline-block;
  position: static;
  vertical-align: top;
}

h1 {
  font-weight: 600;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  font-size: 72px;
  position: static;
  margin-right: 30px;
  display: block;
}

h2 {
  font-weight: 600;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  position: static;
  width: 100%;
}

h3 {
  font-weight: 200;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  position: static;
  width: 100%;
}

li {
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 14px;
  position: static;
  width: 100%;
}

canvas {
  z-index: -1;
}

#root {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.fullScreen {
  height: 100%;
  width: 100%;
}

/*<editor-fold desc="CHANGELOG STYLINGS">*/
.changelog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.changelog-inner {
  padding: 30px;
  background: rgba(0, 0, 0, 0.9);
  overflow: auto;
  border: #ffffff solid;
  box-shadow: 0 0 10px 3px #ffffff;
  display: block;
  width: 600px;
}

.changelog-list {
  margin: 0 20px;
  display: block;
  position: static;
}

.changelog-list-item {
  position: static;
  margin: 0 0 20px 0;
  line-height: 1.5em;
}
/*</editor-fold>*/

/*<editor-fold desc="INFO BOX STYLINGS">*/
.infoBox {
  user-select: none;

  visibility: visible;

  background-color: rgba(0, 0, 0, .90);
  position: absolute;
  z-index: 1000;
  border: solid 3px;

  box-shadow: 0 0 3px 3px white;

  overflow: hidden;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;

  max-width: 960px;
}

.infoBoxText {
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-size: 36px;

  width: auto;
  display: inline;
  position: static;
  z-index: 1001;
}

.infoBoxArtistName {
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: text-bottom;
}

.infoBoxArtistGenre {
  font-weight: 100;
  text-transform: lowercase;
  vertical-align: text-top;
}


.infoBoxRight {
  border-radius: 38px 0 75px 0;
  text-align: left;
}

.infoBoxArtistNameRight {
  float: left;
  padding: 8px 38px 0 20px;
}

.infoBoxArtistGenreRight {
  float: left;
  padding: 0 75px 8px 16px;
}

.infoBoxLeft {
  border-radius: 0 38px 0 75px;
  text-align: right;
}

.infoBoxArtistNameLeft {
  float: right;
  padding: 8px 16px 0 38px;
}

.infoBoxArtistGenreLeft {
  float: right;
  padding: 0 16px 8px 56px;
}

/*</editor-fold>*/

/*<editor-fold desc="SEARCH BOX STYLINGS">*/
.searchBox {
  z-index: 2000;

  top: 20px;
  right: 20px;
  width: 214px;

  position: relative;
  float: right;

  display: flex;
  flex-direction: column;

  user-select: none;
}

.searchBar {
  width: 214px;
  height: 34px;
  position: static;
  display: block;
}

.searchInput {
  font-family: montserrat, sans-serif;
  font-weight: 300;
  color: white;
  display: flex;
  align-items: center;
  width: 200px;
  height: 20px;

  background: rgba(0,0,0,0.6);
  border: white 2px solid;

  box-shadow: 0 0 6px 1px white;

  padding: 5px;
  grid-row: 1;
  user-select: none;

  transition: border 0.6s cubic-bezier(0.5, 1, 0.89, 1), box-shadow 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

.searchBox-white {
  border: white 2px solid;
  box-shadow: 0 0 6px 1px white;
}

.searchHeader {
  padding: 10px 0 2px;
  text-transform: uppercase;
  width: 50%;
  border-bottom: solid white thin;
}

.suggestions {
  width: 100%;
  position: static;
  display: block;
  z-index: -1;
}

.suggestion {
  background: rgba(15,15,15,0.5);
  min-height: 40px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  z-index: 0;
}

.suggestedArtist:hover {
  text-decoration: underline;
  cursor: pointer;
}

.suggestedArtist {
  padding: 10px;
  z-index: 3000;
}
/*</editor-fold>*/

/*<editor-fold desc="SIDEBAR STYLINGS">*/
.sidebar {
  visibility: visible;
  background: rgba(0, 0, 0, 0.90);
  width: 450px;
  height: 100%;
  float: right;
  position: relative;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  margin-right: -462px;
  transition: margin-right 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

.sidebar-open {
  margin-right: 0;
}

.sidebar-closed {
  margin-right: -462px;
}

.sidebarStroke {
  opacity: 1;
  width: 2px;
  height: 100%;
  display: block;
  float: left;
}

/*<editor-fold desc="NAME AND PICTURE">*/
.nameAndPicture {
  position: static;
  width: 100%;
  height: 158px;
  display: grid;
  grid-template-columns: 158px auto;
}

.sidebarPicture {
  width: 113px;
  height: 113px;
  display: block;
  margin: 23px;
  border-radius: 50%;
  position: static;
}

.sidebarPicture img {
  object-fit: cover;
  width: 113px;
  height: 113px;
  border-radius: 50%;
  z-index: -1;
}

.name {
  display: flex;
  align-items: center;
  height: 158px;
  width: 100%;
  position: static;
}
/*</editor-fold>*/

.player {
  position: static;
  margin: 10px 22px;
  opacity: 0.9;
}


/*<editor-fold desc="FOLLOWERS">*/
.followersSection {
  position: static;
  width: 100%;
  padding: 10px 22px;
}

.followerCount {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  margin-right: 0.15em;
}

.followers {
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
}

.followerRanking {
  font-family: montserrat, sans-serif;
  font-weight: 100;
  font-style: italic;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
}
/*</editor-fold>*/
/*<editor-fold desc="GENRES">*/
.genresSection {
  position: relative;
  padding: 10px 22px;
}

.genresList {
  position: relative;
  width: 100%;
  columns: 2;
  margin-left: 1em;
}
/*</editor-fold>*/
/*<editor-fold desc="RELATED">*/

.relatedArtistsList {
  width: 100%;
  position: static;
  margin-left: 1em;
  overflow-y: auto;
}

.relatedArtistsSection {
  width: 90%;
  position: static;
  padding: 10px 22px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  flex-grow: 1;
}

.sidebarListItem {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  position: static;
  list-style: none;
  padding: 5px;
  display: inline-block;
  width: 90%;
}

.sidebarListItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.relatedArtistsSection p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
}
/*</editor-fold>*/

.undoRedo {
  position: static;
  margin: 10px 22px;
}

.undoRedoButton {
  position: static;
  margin: 10px 22px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border: solid white;
  font-family: montserrat, sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.undoRedoClickable {
  background: white;
  box-shadow: 0 0 10px 0 white;
  color: black;
  opacity: 1;
  transition: box-shadow 50ms cubic-bezier(0.5, 1, 0.89, 1);
}

.undoRedoClickable:hover {
  box-shadow: 0 0 20px 0 white;
}

.undoRedoClickable:active {
  box-shadow: 0 0 20px 0 white, inset 0 0 10px 0 black;
}

.undoRedoUnclickable {
  color: white;
  background: none;
  opacity: 0.25
}

:focus {
  outline: 0 !important;
}


/*</editor-fold>*/

/*<editor-fold desc="SCROLLBAR STYLINGS">*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}


/*</editor-fold>*/


.uiButtonOuter {
  height: 40px;
  width: 40px;

  overflow: hidden;

  background: rgba(0, 0, 0, 0.90);

  border: solid white;
  border-radius: 25px;

  box-shadow: 0 0 10px 0 white, inset 0 0 5px 0 white;

  margin: 500px;

  transition: border 0.6s cubic-bezier(0.5, 1, 0.89, 1),
              box-shadow 0.6s cubic-bezier(0.5, 1, 0.89, 1),
              width 0.6s cubic-bezier(0.5, 1, 0.89, 1),
              height 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

.uiButtonOuterExpand {
  height: 250px;
  width: 400px;
}

.uiButtonOuter-white {
  box-shadow: 0 0 10px 0 white, inset 0 0 5px 0 white;
}

.uiButton {
  width: 32px;
  height: 32px;
  padding: 4px;

  position: static;
}

.uiButtonPath {
  fill: white;
}

.uiButtonTitle {
  width: 344px;
  height: 32px;
  padding: 4px;
  display: inline-block;
  white-space: nowrap;
  text-align: right;
  float: right;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

.shortestPathForm {
  position: static;
  display: block;

  padding: 10px;
}

label {
  position: static;
  display: block;
}

input {
  position: static;
  display: block;
}


.shortestPathSearch {
  width: 300px;
  height: 34px;

  padding: 4px;

  position: static;
  display: block;
}

.shortestPathSearch input {
  width: 300px;
}


.shortestPathForm label {
  margin-top: 20px;
  font-weight: 500;
}